section.elementor-section.elementor-inner-section.elementor-element.elementor-element-2e969b21.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default img {
    border-radius: 10%;
}
.elementor-202 .elementor-element.elementor-element-7fbbdd9 img {
    border-radius: 0;
}
section#yeepaper img {
    border-radius: 20px;
}
.elementor-202 .elementor-element.elementor-element-4bcb9941:not(.elementor-motion-effects-element-type-background), .elementor-202 .elementor-element.elementor-element-4bcb9941 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #8b1912;
}

section.elementor-section.elementor-top-section.elementor-element.elementor-element-78ad1567.elementor-reverse-mobile.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default {
    background-color: #8b1912;
}

p {
    color: #f0e0ab;
}

.elementor-10 .elementor-element.elementor-element-105a0ff .elementor-button {
    background: #620605;
}

.elementor-10 .elementor-element.elementor-element-9620a94 .elementor-button {
    color: #620605;
    border-color: #620605;
}

.elementor-10 .elementor-element.elementor-element-9620a94 .elementor-button:hover, .elementor-10 .elementor-element.elementor-element-9620a94 .elementor-button:focus {
    background: #f0e0ab;
    color: #620605;
}
.elementor-10 .elementor-element.elementor-element-78ad1567 > .elementor-shape-bottom .elementor-shape-fill {
    fill: #f0e0ab;
}

.elementor-10 .elementor-element.elementor-element-7a509a4c:not(.elementor-motion-effects-element-type-background), .elementor-10 .elementor-element.elementor-element-7a509a4c > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background: #f0e0ab;
}

.entry-content p {
    color: #8b1912;
}

.elementor-10 .elementor-element.elementor-element-26b5529c .elementor-button {
    background: #8b1912;
}

.elementor-10 .elementor-element.elementor-element-26b5529c .elementor-button:hover, .elementor-10 .elementor-element.elementor-element-26b5529c .elementor-button:focus {
    color: #8b1912;
}

.elementor-10 .elementor-element.elementor-element-52831d37 .elementor-button {
    color: #8b1912;
    border-color: #8b1912;
}

.elementor-10 .elementor-element.elementor-element-7a509a4c > .elementor-shape-bottom .elementor-shape-fill {
    fill: #8b1912;
}

div#tokenomics p {
    color: #f0e0ab;
}

section#yeepaper p {
    color: #f0e0ab;
}

.elementor-10 .elementor-element.elementor-element-a5ade39:not(.elementor-motion-effects-element-type-background), .elementor-10 .elementor-element.elementor-element-a5ade39 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background: #8b1912;
}

.elementor-10 .elementor-element.elementor-element-4db95d61:not(.elementor-motion-effects-element-type-background), .elementor-10 .elementor-element.elementor-element-4db95d61 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background: #8b1912;
}

.elementor-10 .elementor-element.elementor-element-b792e3d:not(.elementor-motion-effects-element-type-background), .elementor-10 .elementor-element.elementor-element-b792e3d > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background: #8b1912;
}

.elementor-10 .elementor-element.elementor-element-9f5c12d:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-10 .elementor-element.elementor-element-9f5c12d > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background: #f0e0ab;
}

.elementor-10 .elementor-element.elementor-element-6e298ac:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-10 .elementor-element.elementor-element-6e298ac > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background: #f0e0ab;
}

.elementor-10 .elementor-element.elementor-element-31fd3ab:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-10 .elementor-element.elementor-element-31fd3ab > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background: #f0e0ab;
}

.elementor-10 .elementor-element.elementor-element-c0d6b70:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-10 .elementor-element.elementor-element-c0d6b70 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background: #f0e0ab;
}

.elementor-10 .elementor-element.elementor-element-53473bf:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-10 .elementor-element.elementor-element-53473bf > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background: #f0e0ab;
}

.elementor-10 .elementor-element.elementor-element-a0bb1d0:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-10 .elementor-element.elementor-element-a0bb1d0 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {background: #f0e0ab;}

.elementor-10 .elementor-element.elementor-element-b792e3d > .elementor-shape-bottom .elementor-shape-fill {
    fill: #f0e0ab;
}

.elementor-10 .elementor-element.elementor-element-58bc0c5b:not(.elementor-motion-effects-element-type-background), .elementor-10 .elementor-element.elementor-element-58bc0c5b > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background: #f0e0ab;
}

section.elementor-section.elementor-inner-section.elementor-element.elementor-element-784ff7b7.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default p {
    color: #f0e0ab;
}

.elementor-10 .elementor-element.elementor-element-60e04e01:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-10 .elementor-element.elementor-element-60e04e01 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background: #8b1912;
}

.elementor-10 .elementor-element.elementor-element-18b2aa24:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-10 .elementor-element.elementor-element-18b2aa24 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background: #8b1912;
}

section.elementor-section.elementor-inner-section.elementor-element.elementor-element-0976c25.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default p {
    color: #f0e0ab;
}

.elementor-10 .elementor-element.elementor-element-c9e5d01:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-10 .elementor-element.elementor-element-c9e5d01 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background: #8b1912;
}

.elementor-10 .elementor-element.elementor-element-d2af2b5:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-10 .elementor-element.elementor-element-d2af2b5 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background: #8b1912;
}

section.elementor-section.elementor-inner-section.elementor-element.elementor-element-58ab8ff7.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default p {
    color: #f0e0ab;
}

.elementor-10 .elementor-element.elementor-element-58bc0c5b > .elementor-shape-bottom .elementor-shape-fill {
    fill: #8b1912;
}

.elementor-10 .elementor-element.elementor-element-2732785a:not(.elementor-motion-effects-element-type-background), .elementor-10 .elementor-element.elementor-element-2732785a > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background: #8b1912;
}

.elementor-10 .elementor-element.elementor-element-2c17c639:not(.elementor-motion-effects-element-type-background), .elementor-10 .elementor-element.elementor-element-2c17c639 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background: #f0e0ab;
}

.elementor-10 .elementor-element.elementor-element-3531269f:not(.elementor-motion-effects-element-type-background), .elementor-10 .elementor-element.elementor-element-3531269f > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background: #f0e0ab;
}

.elementor-10 .elementor-element.elementor-element-71bd38ac:not(.elementor-motion-effects-element-type-background), .elementor-10 .elementor-element.elementor-element-71bd38ac > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background: #f0e0ab;
}

.elementor-10 .elementor-element.elementor-element-4e8755c8:not(.elementor-motion-effects-element-type-background), .elementor-10 .elementor-element.elementor-element-4e8755c8 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background: #f0e0ab;
}

section.elementor-section.elementor-inner-section.elementor-element.elementor-element-1b1765fe.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default p {
    color: #f0e0ab;
}

.elementor-10 .elementor-element.elementor-element-7cf0ec12:not(.elementor-motion-effects-element-type-background), .elementor-10 .elementor-element.elementor-element-7cf0ec12 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background: #8b1912;
}

section.elementor-section.elementor-inner-section.elementor-element.elementor-element-39e699ef.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default p {
    color: #f0e0ab;
}

.elementor-10 .elementor-element.elementor-element-ca665b .elementor-button {
    background: #620605;
}

section.elementor-section.elementor-top-section.elementor-element.elementor-element-78ad1567.elementor-reverse-mobile.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default p {
    color: #f0e0ab;
}

.elementor-10 .elementor-element.elementor-element-ca665b .elementor-button:hover, .elementor-10 .elementor-element.elementor-element-ca665b .elementor-button:focus {
    color: #620605;
}

.elementor-10 .elementor-element.elementor-element-7b5c3d0d .elementor-button {
    color: #f0e0ab;
    border-color: #f0e0ab;
}

.elementor-10 .elementor-element.elementor-element-7b5c3d0d .elementor-button:hover, .elementor-10 .elementor-element.elementor-element-7b5c3d0d .elementor-button:focus {
    color: #620605;
    border-color: #620605;
}

.elementor-10 .elementor-element.elementor-element-af9579c .elementor-button {
    background: #620605;
}

.elementor-10 .elementor-element.elementor-element-af9579c .elementor-button:hover, .elementor-10 .elementor-element.elementor-element-af9579c .elementor-button:focus {
    color: #620605;
}